{% set applications = getContext('applications') %}
ergfe
<div class="rights">
    <div class="table-responsive">
        <table class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Right</th>
                </tr>
            </thead>
            {% if applications|length > 0 %}
                {% for application in applications %}
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Right</th>
                        </tr>
                    </thead>
                {% endfor %}
            {% else %}
                <tfoot>
                    <tr>
                        <th colspan="3">No Records</th>
                    </tr>
                </tfoot>  
            {% endif %}
        </table>
    </div>
</div>