{# empty Twig template #}

<p><strong>Double Authentication Code</strong></p>
<br>
<p>Code: {{ doubleauth_code }}</p>
<br>
<p>Click the link below to login to your account.&nbsp;</p>
<p><a href= "{{ doubleauth_url }} ">Login to your Account</a></p>
<p>Or copy and paste this url</p>
<p>{{ doubleauth_url }}</p>