{# empty Twig template #}

{% set is_admin = item.is_admin|default(0) %}

{% if item.is_admin %}
    <label class="label label-success">Yes</label>
{% else %}
    <label class="label label-default">No</label>
{% endif %}