
{{ set_assets('applications/Users/assets/js/role.js') }}

{% set extensions = callFunction( "Users.Roles.Code.Models.RolesModel", 'getSystemExtensions' ) %}


{% set applications = get_context('applications') %}
{% set item = get_context('item') %}
{% set rights = get_context('rights') %}

{% set view_only = get_context('view_only') %}
{% set write_only = get_context('write_only') %}
{% set view_write = get_context('view_write') %}

{% set space_str = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' %}

<div class="user_rights">
    V = View, A=Add,  W = Write and D = Delete <br>
    VO = View Own,  WO = Write Own and DO = Delete Own

</div>

{% if item.id %}

    {{ forms.input('extension_list','select', null, null, null, null, null, null, extensions) }}

    <div class="extension_routes">

    </div>

    <script>

        jQuery(document).ready(function () {

            jQuery('#extension_list').change(function () {
                extension = jQuery(this).val();
                updateRightList(extension);
            });

            extension = jQuery('#extension_list').val();
            updateRightList(extension);

        });

        function updateRightList(extension) {

            var role_id = jQuery('.form-id').val();

            var data_object = {"role_id": role_id, "extension": extension};

            jQuery('.extension_routes').html('Loading. Please Wait...');
            kazist.addSpinningIcon(jQuery('.extension_routes'));

            table_fields = kazist.callAjaxByRoute('admin.users.roles.routes', data_object, true);

            var html_new = jQuery(table_fields);

            jQuery('.extension_routes').html(html_new);

            addUpdateEvents(html_new);

        }

        function addUpdateEvents(html) {

            html.find('input').click(function () {

                var role_id = jQuery(this).attr('role_id');
                var route_id = jQuery(this).attr('route_id');
                var permission = jQuery(this).attr('permission');
                var value = (jQuery(this).is(':checked')) ? 1 : 0;

                var data_object = {"role_id": role_id, "route_id": route_id, "permission": permission, "value": value};

                table_fields = kazist.callAjaxByRoute('admin.users.roles.savepermission', data_object, false);


            });
        }


    </script>
{% endif %}
