{# empty Twig template #}
<br>
<p>Verify Your Account</p>
<br>
<p>This site is very concerned about security and therefore it requires you to verify your email address. An email has been sent to you, it contains a special link which verifies you and allows you to log in freely. This verification is required only once for this email address. Please check your email and verify your email address now. </p>
<br>
<p><a href= "{{ verification_url }}">Verify Account</a></p>
<br>
<p>Or copy and paste this url</p>
<br>
<p>{{ verification_url }}</p>